<div class="collapse">
  <button class="collapse__trigger" aria-expanded="false">More Information</button>
  <section class="collapse__content" hidden>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam unde, eligendi quidem? Reiciendis, accusamus quae corporis amet aperiam dicta iure quidem, hic nemo ratione unde alias laboriosam adipisci eos nam aliquid deleniti perspiciatis doloribus vero sed. Vitae voluptatem consectetur doloremque culpa expedita velit eum, quaerat dignissimos nulla, cupiditate. Atque, quis. Voluptatem laborum, aliquid. Distinctio consectetur reiciendis dolores dolore! Soluta quas tenetur, corrupti nemo iste quasi asperiores ea eveniet voluptas earum! Blanditiis voluptatem, quasi, hic fuga cupiditate est harum illo nihil.</p>
  </section>
</div>