<div data-inclusive-menu>
  <button data-inclusive-menu-opens="difficulty" class="button--primary-color button--primary">
   Difficulty
   <span aria-hidden="true">&#x25be;</span>
  </button>
  <div id="difficulty" data-inclusive-menu-from="left">
    <button class="button--primary-color button--primary">Easy</button>
    <button class="button--primary-color">Medium</button>
    <button class="button--secondary-color">Incredibly Hard</button>
  </div>
</div>
