{% set js %}
  {# importing components #}
  {% include "js/inclusive-menu-button.js" %}
  {% include "js/connected-cards.js" %}
  {% include "js/card.js" %}
  {% include "js/button.js" %}
  {% include "js/toggle.js" %}
  {% include "js/collapse.js" %}
  {% include "js/tabs.js" %}
  {% include "js/a11y-dialog.js" %}
  {% include "js/slick.js" %}

  {# core functions #}
  {% include "js/core.js" %}

  {# init and contextual scripts #}
  {% include "js/hello.js" %}
{% endset %}

<script>{{ js | safe }}</script>