.map-focus__container {
    position: relative;
}

.map-focus__wrapper {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -100px;
}

.focus-countries__container {
    width: 70%;
    float: left;
}

.focus-regions__container {
    width: 30%;
    float: left;
}

.map-cluster__btns {
    border: 1px solid rgb(0 0 0 / 9%);
    font-size: 1em;
    color: #6b6b6b;
    padding: 4px 13px;
    margin: 3px 6px 3px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: left;
}

.focus-countries-cluster__container {
    width: 90%;
}

.map-focus__title h1 {
    color: #6b6b6b;
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 15px;
}