/*

Contains all modal cards css

*/
.highlights-button {
    display: inline-block;
    cursor: pointer;
    -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s 0.5s ease-in-out;
    transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
    padding: 130px 150px 180px;
    width: fit-content;
    max-width: 1050px;
    overflow: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    border-radius: 3px;
    background: #fff;
    transform: translate(-50%);
    transition: all .5s ease-in-out;
    box-shadow: 0 0 35px -15px #8080807a;
}

.modal-content label {
    font-size: 3em;
    color: #ff5638;
}

.modal-content img {
    display: block;
    width: 100%;
    margin: 10px 0 0;
}

.modal-content > p {
    padding-top: 10px;
    text-align: justify;
    font-size: 1.3em;
    color: #646464;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.89);
}

.modal-close:after {
    content: "X";
    float: right;
    margin: 10px 10px 0 0;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 2em;
    border-radius: 20px;
}

input[id*="modal_"] {
    position: fixed;
    left: -9999px;
    top: 50%;
    opacity: 0;
}
input[id*="modal_"]:checked + div.modal {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

input[id*="modal_"]:checked + div.modal .modal-content {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.learn-more-tag {
    position: absolute;
    bottom: 50px;
}

.learn-more-tag label {
    font-size: 1.2em;
}

.cards__section .nrgi-impact-tag.custom-tag {
    bottom: 145px;
}

.cards__section .base-card__paragraph {
    margin-top: 20px;
}

.cards__section .base-card__body {
    box-shadow: 0 10px 35px -15px rgb(0 0 0 / 16%);
    border: none !important;
}

.modal-content .nrgi-impact-tag.custom-tag {
    bottom: 75px;
}

.cards__section .base-cards {
    margin: -15px 18px !important
}
