<li class="base-card card {{ card.class | d('') }}">
  <div class="base-card__content">
    <h2><a href="#" aria-describedby="{{ card.heading | slug }}">{{ card.heading }}</a></h2>

    <p>{{ card.text }}</p>
    
    <footer class="stack">
      {% if card.tag_label %}
      <div class="nrgi-impact-tag">
      <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
      <p>{{ card.tag_label }}</p>
      </div>
      {% endif %}
      
      <button class="button {{ card.button.class | d('') }}" aria-hidden="true" id="{{ card.heading | slug }}" type="button" data-a11y-dialog-show="{{ card.modal_id }}">{{ card.button.label | d('Read More', true) }}</button>
    </footer>
  </div>
</li>

