<li class="connected-card {{ card.class }}">
  <div class="connected-card__content">

    <div class="connected-card__icon {{ card.icon }}"></div>

    <h2><a href="#" aria-describedby="{{ card.heading | slug }}">{{ card.heading }}</a></h2>

    <h5 class="connected-card__subheading">Objective</h5>

    <p class="connected-card__text">{{ card.text }}</p>

    <div class="cluster">
      <div>  
        {% for label in card.cluster_labels %}
        <div class="connected-card__tag">{{ label }}</div>
        {% endfor %}
      </div>
    </div>
    <footer class="stack">
    
    {% if card.tag_label %}
    <div class="nrgi-impact-tag">
      <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
      <p>{{ card.tag_label }}</p>
    </div>
    {% endif %}

    <button class="button connected-card__button" aria-hidden="true" id="{{ card.heading | slug }}" type="button" data-a11y-dialog-show="{{ card.modal_id }}">{{ card.button.label }}</button>
  </div>
    </footer>
</li>
