/* This component extends the Vendor-Component from "EveryLayout" */

.center {
  box-sizing: content-box;
  padding-right: var(--s0); 
  padding-left: var(--s0); 
}

.center--wrapper { --measure: var(--wrapper); }
.center--narrow  { --measure: var(--narrow); }
.center--measure { --measure: var(--measure); }