/* This component extends the Vendor-Component from "EveryLayout" */

.center--wrapper { 
  --measure: var(--wrapper); 

  @media (max-width: 1320px) { 
    padding-right: var(--s0); 
    padding-left: var(--s0); 
  }
}
.center--narrow  { --measure: var(--narrow);  }
.center--measure { --measure: var(--measure); }