---
layout: layouts/base.njk
---

<header class="hero-section title-section">
  <div class="hero-section__top-bar">
    <div class="center">
      <img src="/images/nrgi-logo-white.svg" alt="Natural Resource Governance Institute">
      <a class="button button--primary button--accent-color">Download Full Strategy</a>
    </div>
  </div>

  <div class="hero-section__content">
    <div class="center">
      <hgroup>
        <h3 class="brow">NRGI Strategy 2020-2025</h3>
        <h1>Resource Governance for a Changing World</h1>
      </hgroup>
      <section>
        <p>The oil, gas and mining sectors have largely failed to deliver on the promise of better quality of life for the one billion people living in poverty in resource-rich countries.</p>
        <p>The Natural Resource Governance Institute works to change that.</p>
      </section>
      <a class="button button--white-color">Learn More</a>

      <div class="nrgi-impact-tag">
        <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
        <p>Click on these icons to learn about related achievements in NRGI’s last strategy period</p>
      </div>
    </div>
  </div>
</header>

<section class="mission-section text-section center">
  <div class="center center--measure">
    <p><strong>NRGI’s mission is ensuring that:</strong></p>
    <p>Countries rich in oil, gas and minerals achieve sustainable, inclusive development. </p>
    <p>People receive lasting benefits from the extractive sector and experience reduced harms.</p>
  </div>
</section>

<section class="area-focus-section title-section">
  <div class="center stack">
    <h1>Areas of focus</h1>
    <p>NRGI works expressly on the extractives sector, guided by the intellectual framework of the <strong class="color:accent">Natural Resource Charter</strong>. From now until 2025, NRGI will focus on two areas of the extractive industry decision chain: <strong>getting a good deal</strong> and <strong>revenue management</strong>.</p>
  </div>
</section>

<section class="base-section connected-cards__section">

  <div class="connected-lines__container">
    <div class="connected-lines__wrapper">
      <div class="between-lines-text">
        <h1>Across these two areas, we will also address particular aspects of the energy transition and of corruption and "state capture".</h1>
      </div>
      <div class="connected-lines-straight line-right"></div>
      <div class="connected-lines-straight line-left"></div>
      <div class="connected-lines line-top-left"></div>
      <div class="connected-lines line-top-right"></div>
      <div class="connected-lines line-bottom-left"></div>
      <div class="connected-lines line-bottom-right"></div>
    </div>
  </div>

  <div class="connected-cards__container pull-up">
    <div class="base-card__body">
      <h2 class="base-card__title"><a>getting a good deal</a></h2>

      <h3 class="base-card__subtitle">objective</h3>

      <p class="base-card__paragraph">Licensing and fiscal systems are transparent, fair and help countries maximize the revenues available for development spending.</p>

      <div class="base-card__cluster">
        <div class="cluster-box">Laws, regulations and contracts</div>
        <div class="cluster-box">Award of licenses</div>
        <div class="cluster-box">Economic linkages</div>
        <div class="cluster-box">State-owned enterprises</div>
        <div class="cluster-box">Tax systems</div>
      </div>

      <div class="nrgi-impact-tag custom-tag">
        <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
        <p>Contract transparency in Mexico</p>
      </div>

      <div class="connected-cards-img-top__container">
        <div id="connected-cards-hover-top-left" class="connected-cards-img__wrapper pulse">
          <img src="/images/deal-icon.svg" alt="deal-icon">
        </div>
      </div>
    </div>
    <div class="base-card__body">
      <h2 class="base-card__title"><a>managing revenues</a></h2>

      <h3 class="base-card__subtitle">objective</h3>

      <p class="base-card__paragraph">Extractive sector revenues are managed in ways that serve long-term public interest and the economic sustainability of public finances, rather than short-term political or private agendas.</p>

      <div class="base-card__cluster">
        <div class="cluster-box">Fiscal rules</div>
        <div class="cluster-box">Dept</div>
        <div class="cluster-box">State-owned enterprises</div>
      </div>

      <div class="nrgi-impact-tag custom-tag">
        <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
        <p>Contract transparency in Mexico</p>
      </div>

      <div class="connected-cards-img-top__container">
        <div id="connected-cards-hover-top-right" class="connected-cards-img__wrapper pulse">
          <img src="/images/revenues-icon.svg" alt="revenues-icon">
        </div>
      </div>
    </div>
  </div>
  <div class="connected-cards__container margin-top">

    <div class="base-card__body bottom-card">
      <h2 class="base-card__title"><a>navigating the energy transition</a></h2>

      <h3 class="base-card__subtitle">objective</h3>

      <p class="base-card__paragraph">Resource-rich countries advance rather than hinder the transition to cleaner energy. Countries rich in strategic minerals do not replicate mis-governance in that subsector.</p>

      <div class="base-card__cluster">
        <div class="cluster-box">Strategic minerals</div>
        <div class="cluster-box">"Stranded assets"</div>
      </div>

      <div class="connected-cards-img-bottom__container">
        <div id="connected-cards-hover-bottom-left" class="connected-cards-img__wrapper">
          <img src="/images/energy-transition-icon.svg" alt="energy-transition-icon">
        </div>
      </div>
    </div>
    <div class="base-card__body bottom-card">
      <h2 class="base-card__title"><a>addressing corruption and "state capture"</a></h2>

      <h3 class="base-card__subtitle">objective</h3>

      <p class="base-card__paragraph">Governments and companies conduct sector operations in ways that reduce opportunities for corruption and capture, and anticorruption actors tackle extractive sector corruption more effectively.</p>

      <div class="base-card__cluster">
        <div class="cluster-box">"Corruption Risks"</div>
        <div class="cluster-box">"State capture by elites"</div>
      </div>

      <div class="connected-cards-img-bottom__container">
        <div id="connected-cards-hover-bottom-right" class="connected-cards-img__wrapper">
          <img src="/images/corruption-icon.svg" alt="corruption-icon">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-section">
  <div class="center center--narrow">
    <p><strong>NRGI will continue to apply our expertise in activities like licensing and revenue sharing.</strong></p>
    <p>Our work will also range from improving the governance of state companies, to analyzing the critical role played by China; from identifying obligations and opportunities for private companies, to what advising governments of resource-rich countries about how to navigate the coming shift to renewable energy.</p>
  </div>
</section>

<section class="bring-change-section title-section">
  <div class="center stack">
    <h1>How we bring about change</h1>
    <p>In concert with other actors in the resource governance space, NRGI’s works with influential actors at the country and global levels to inform policy change and see it through to implementation.</p>
  </div>
</section>

<section class="base-section cards-section center center--wrapper">
  <ul class="grid">

    <li class="base-card">
      <div class="base-card__content">
        <h2>
          <a aria-describedby="Multiple modes of engagement">Multiple modes of engagement</a>
        </h2>
        <p>NGRI delivers applied research, data and analysis, policy advocacy, capacity development, and technical assistance, and serves as a convener of actors working toward reform.</p>
        <div class="nrgi-impact-tag">
          <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
          <p>Resource Governance Index drives reform</p>
        </div>

        <button class="base-card__button" data-a11y-dialog-show="card-dialog-1">LEARN MORE</button>

      </div>
    </li>

    <li class="base-card">
      <div class="base-card__content">
        <h2>
          <a aria-describedby="National players">National players</a>
        </h2>
        <p>We work with agents of change based on an analysis of which actors are best placed to work in alliance to effect particular policy reforms in a country. We address asymmetries of information, access and capacity, and build trust between actors</p>
        <div class="nrgi-impact-tag">
          <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
          <p>Guinea's road improved mining governance</p>
        </div>

        <button class="base-card__button" data-a11y-dialog-show="card-dialog-2">LEARN MORE</button>

      </div>
    </li>

    <li class="base-card">
      <div class="base-card__content">
        <h2>
          <a aria-describedby="International players">International players</a>
        </h2>
        <p>We work with influential states, regional bodies, multilateral organizations, multi-stakeholder iniatives, and industry actors to develop international norms and standards.</p>
        <div class="nrgi-impact-tag">
          <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
          <p>A strengthened EITI standard</p>
        </div>

        <button class="base-card__button" data-a11y-dialog-show="card-dialog-3">LEARN MORE</button>

      </div>
    </li>

    <li class="base-card">
      <div class="base-card__content">
        <h2>
          <a aria-describedby="Maximization of benefits, reduction of harms">Maximization of benefits, reduction of harms</a>
        </h2>
        <p>Governments that implement policies in line with good practice and citizen prioritie will likely increase benefits and reduce harms from the sector.</p>

        <button class="base-card__button" data-a11y-dialog-show="card-dialog-4">LEARN MORE</button>

      </div>
    </li>
  </ul>

  <div class="dialog" id="card-dialog-1">
    <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
    <dialog class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription">
      <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

      <div>
        <h2>
          <a aria-describedby="Multiple modes of engagement">Multiple modes of engagement</a>
        </h2>

        <p>NRGI is one many actors working in concert to advence natural resource governance. NGRI delivers applied research, data and analysis, policy advocacy, capacity development, and technical assistance, and serves as a convener of actors working toward reform.</p>
        <p>We focus those intervetions on specific areas of the extractive industries decision chain. Other actors undertake complementary work in development, rule of law and governance, and on other aspects of the  decision chain; their work suports and reinforces our  own.</p>


        <div class="nrgi-impact-tag">
          <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
          <p>Resource Governance Index drives reform</p>
        </div>
      </div>
    </dialog>
  </div>

  <div class="dialog" id="card-dialog-2">
    <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
    <dialog class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription">
      <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

      <div>
        <h2>
          <a aria-describedby="National players">National players</a>
        </h2>
        <p>At the national, NRGI partners with agents of change who are best placed to work in alliance to effect particular policy reforms.</p>
        <p>we address asymmetries of information, acess and capacity, and build trust between actors.</p>
        <p><strong>We emphasize the importance of building the credibility and resilience of civil society organizations, who inform policy reform by serving as intermediaries and amplifiers of citizens' voices and priorities. By building links between accountability actors, including civil society, oversight actors (e.g., parliamentary committees and supreme audit institutions) and the media, we furtherincentivize and sustain reform efforts.</strong></p>
        <p>By building links between accountability actors, including civil society organizations, oversght actord (e.g., parliamentary committees and supreme audit institutions) and media, we further incentivize and sustain reform efforts </p>

        <div class="nrgi-impact-tag">
          <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
          <p>Guinea's road improved mining governance</p>
        </div>
      </div>
    </dialog>
  </div>

  <div class="dialog" id="card-dialog-3">
    <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
    <dialog class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription">
      <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

      <div>
        <h2>
          <a aria-describedby="International players">International players</a>
        </h2>
        <p>At the international level, NRGI engages external influencers which are predisposed to receive and adopt NRGI's evidence-based messaging.</p>
        <p>We work with influential states, regional bodies, multilateral organizations, multi-stakeholder iniatives, and industry actors to develop international norms and standards.</p>
        <p>Policymakers and companies respond to these international cues defining expected and deserable practice, and then signal their intentions and improve their reputations through their policies and commitments.</p>

        <div class="nrgi-impact-tag">
          <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
          <p>A strengthened EITI standard</p>
        </div>
      </div>
    </dialog>
  </div>

  <div class="dialog" id="card-dialog-4">
    <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
    <dialog class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription">
      <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

      <div>
        <h2>
          <a aria-describedby="Maximization of benefits, reduction of harms">Maximization of benefits, reduction of harms</a>
        </h2>
        <p>Governments that implement policies in line with good practice and citizen prioritie will likely increase benefits and reduce harms from the sector.</p>
        <p>Benefits include the availability of revenues for public services and social spending, helping to lift citizens out of poverty, as well increased dialogue and accountability. Harms include the direct impacts of extraction (e.g., corruption, conflict and social and environmental effects), growing inequality, and negative gender-differentiated impacts.</p>
        <p>For direct interventions on sustainable and inclusive development polices, NRGI will rely on the broader ecosystem of actors working on governance and development.</p>
      </div>
    </dialog>
  </div>
</section>


<section class="where-we-work-section title-section">
  <div class="center stack">
    <h1>Where we work</h1>
    <p>NRGI targets countries where government actors are open to reform and where there are accountability actors to inform and/or support their efforts.</p>
    <div class="nrgi-impact-tag">
      <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
      <p>Click on these icons to learn about related achievements in NRGI’s last strategy period</p>
    </div>
  </div>
</section>

<section class="base-section">
  <div class="map center center--wrapper">
    <img class="map__image" src="/images/nrgi-worldmap-where-we-work.svg" alt="nrgi-worlmap">

    <div class="map__cluster-container">
      <div class="map__countries-container">
        <h1 class="map__cluster-title">Focus countries</h1>
        <div class="cluster">
          <div>
            <div>Colombia</div>
            <div>Dem. Rep. of Congo</div>
            <div>Ghana</div>
            <div>Guinea</div>
            <div>Mexico</div>
            <div>Mongolia</div>
            <div>Myanmar</div>
            <div>Nigeria</div>
            <div>Peru</div>
            <div>Senegal</div>
            <div>Tanzania</div>
            <div>Uganda</div>
          </div>
        </div>
      </div>
      <div class="map__regions-container">
        <h1 class="map__cluster-title">Focus regions</h1>
        <div class="cluster">
          <div>
            <div>Eurasia</div>
            <div>Middle East & North Africa</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-section">
  <div class="center center--narrow">
    <p><strong>We have more influence in the early stages of the development of natural resources than when trying to address weaknesses or gaps in countries that have decades-old extractive sectors.</strong></p>
    <p>However, NRGI balances its engagement across countries where there is openness to reform and the possibility of significant short-term change, with more challenging contexts where the likelihood of immediate success is lower but NRGI’s contribution is potentially more game-changing and the impact for citizens more significant over the long term.</p>
  </div>
</section>

<section class="base-section text-align:center shadow-section" style="--padding: var(--s1)">
  <a href="#" class="button button--primary button--accent-color">Download full strategy</a>
</section>

<section class="text-section shadow-section quote-section">
  <div class="center center--narrow">
    <blockquote>
      <p>NRGI recognizes that the mining industry is critical to modern life but that there are changes that the industry can make that will help to reduce its negative impacts. NRGI also gives the impression that it is open to learning from industry in a way that other NGOs do not. This builds trust and makes for a more open conversation.”</p>
      <p><small>Quotations taken from respondents to anonymous stakeholder surveys and independent evaluations</small></p>
    </blockquote>
  </div>
</section>

<footer class="footer base-section">
  <div class="center center--wrapper">
    <div>
      <form class="subscribe-form" action=""><input type="text" placeholder="Sign up to receive updates"><input type="submit" value="Subscribe"></form>
      <div class="social-media">
        <a href="#">{% include 'icons/facebook.njk' %}</a>
        <a href="#">{% include 'icons/linkedin.njk' %}</a>
        <a href="#">{% include 'icons/twitter.njk' %}</a>
        <a href="#">{% include 'icons/youtube.njk' %}</a>
      </div>
      <a href="#" class="color:white">resourcegovernance.org</a>
    </div>
  </div>
</footer>
<div class="by-line">
  <div class="center">
    <a href="https://ccm.design">by ccm.design</a>
  </div>
</div>


