---
layout: layouts/base.njk
---

<header class="hero-section title-section">
  <div class="hero-section__top-bar">
    <div class="center">
      <img class="hero-section__image" src="/images/nrgi-logo-white.svg" alt="Natural Resource Governance Institute">
      <a class="hero-section__download-btn button button--primary button--accent-color">Download Full Strategy</a>
    </div>
  </div>

  <div class="hero-section__content">
    <div class="center">
      <hgroup>
        <h3 class="brow">NRGI Strategy 2020-2025</h3>
        <h1>Resource Governance for a Changing World</h1>
      </hgroup>
      <section>
        <p>The oil, gas and mining sectors have largely failed to deliver on the promise of better quality of life for the one billion people living in poverty in resource-rich countries.</p>
        <p>The Natural Resource Governance Institute works to change that.</p>
      </section>
      <a class="button button--white-color button--secondary">Learn More</a>

      <div class="nrgi-impact-tag">
        <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
        <p>Click on these icons to learn about related achievements in NRGI’s last strategy period</p>
      </div>
    </div>
  </div>
</header>

<section class="mission-section text-section">
  <div class="center">
    <p><strong>NRGI’s mission is ensuring that:</strong></p>
    <p>Countries rich in oil, gas and minerals achieve sustainable, inclusive development. </p>
    <p>People receive lasting benefits from the extractive sector and experience reduced harms.</p>
  </div>
</section>

<section class="title-section--area-focus title-section">
  <div class="center stack">
    <h1>Areas of focus</h1>
    <p>NRGI works expressly on the extractives sector, guided by the intellectual framework of the <strong class="color:accent">Natural Resource Charter</strong>. From now until 2025, NRGI will focus on two areas of the extractive industry decision chain: <strong>getting a good deal</strong> and <strong>revenue management</strong>.</p>
  </div>
</section>

<section class="base-section center center--wrapper connected-cards-section">
  <div class="grid">
    {% for card in connectedCards.slice(0, 2) %}
    {% include 'base-components/connected-card.njk' %}
    {% endfor %}
  </div>

  <div class="lines">
    <div class="lines__wrapper">
      <div class="lines__text-wrapper">
        <h1 class="lines__text">Across these two areas, we will also address particular aspects of the energy transition and of corruption and "state capture".</h1>
      </div>
      <div class="lines__straight-line lines__straight-line--right"></div>
      <div class="lines__straight-line lines__straight-line--left"></div>
      <div class="lines__line lines__line--top-left"></div>
      <div class="lines__line lines__line--top-right"></div>
      <div class="lines__line lines__line--bottom-left"></div>
      <div class="lines__line lines__line--bottom-right"></div>
    </div>
  </div>

  <div class="grid grid--change">
    {% for card in connectedCards.slice(2, 4) %}
    {% include 'base-components/connected-card.njk' %}
    {% endfor %}
  </div>
</section>

<section class="text-section">
  <div class="center center--narrow">
    <p><strong>NRGI will continue to apply our expertise in activities like licensing and revenue sharing.</strong></p>
    <p>Our work will also range from improving the governance of state companies, to analyzing the critical role played by China; from identifying obligations and opportunities for private companies, to what advising governments of resource-rich countries about how to navigate the coming shift to renewable energy.</p>
  </div>
</section>

<section class="title-section title-section--bring-change">
  <div class="center stack">
    <h1>How we bring about change</h1>
    <p>In concert with other actors in the resource governance space, NRGI’s works with influential actors at the country and global levels to inform policy change and see it through to implementation.</p>
  </div>
</section>

<section class="base-section change-cards">
  <div class="center center--wrapper grid card-grid">
    {% for card in cards %}
    {% include 'base-components/card.njk' %}
    {% endfor %}
  </div>
</section>

<section class="title-section--where-we-work title-section">
  <div class="center stack">
    <h1>Where we work</h1>
    <p>NRGI targets countries where government actors are open to reform and where there are accountability actors to inform and/or support their efforts.</p>
    <div class="nrgi-impact-tag">
      <div class="nrgi-impact-tag__tag"><span>NRGI</span><span>Impact</span></div>
      <p>Click on these icons to learn about related achievements in NRGI’s last strategy period</p>
    </div>
  </div>
</section>

<section class="base-section map-section">
  <div class="center center--wrapper">
    <img class="map" src="/images/nrgi-worldmap-where-we-work.svg" alt="">
    <div class="map-tags center">
      <div class="map-tags__countries">
        <h4>Focus Countries</h4>
        <div class="cluster">
          <div>
            {% for country in countries %}
            <span class="map-tags__tag">{{ country }}</span>
            {% endfor %}
          </div>
        </div>  
      </div>
      <div class="map-tags__regions">
        <h4>Focus Regions</h4>
        <div class="cluster">
          <div>
            <span class="map-tags__tag">Eurasia</span>
            <span class="map-tags__tag">Middle East & North Africa</span>
          </div>
        </div>  
      </div>
    </div>
    
  </div>
</section>

<section class="text-section">
  <div class="center center--narrow">
    <p><strong>We have more influence in the early stages of the development of natural resources than when trying to address weaknesses or gaps in countries that have decades-old extractive sectors.</strong></p>
    <p>However, NRGI balances its engagement across countries where there is openness to reform and the possibility of significant short-term change, with more challenging contexts where the likelihood of immediate success is lower but NRGI’s contribution is potentially more game-changing and the impact for citizens more significant over the long term.</p>
  </div>
</section>

<section class="base-section text-align:center shadow-section" style="--padding: var(--s1)">
  <a href="#" class="button button--primary button--accent-color">Download full strategy</a>
</section>

<section class="text-section shadow-section quote-section">
  <div class="center center--narrow">
    <blockquote>
      <p>NRGI recognizes that the mining industry is critical to modern life but that there are changes that the industry can make that will help to reduce its negative impacts. NRGI also gives the impression that it is open to learning from industry in a way that other NGOs do not. This builds trust and makes for a more open conversation.”</p>
      <p><small>Quotations taken from respondents to anonymous stakeholder surveys and independent evaluations</small></p>
    </blockquote>
  </div>
</section>

<footer class="footer base-section">
  <div class="center center--wrapper">
    <div>
      <form class="subscribe-form" action=""><input type="text" placeholder="Sign up to receive updates"><input type="submit" value="Subscribe"></form>
      <div class="social-media">
        <a href="#">{% include 'icons/facebook.njk' %}</a>
        <a href="#">{% include 'icons/linkedin.njk' %}</a>
        <a href="#">{% include 'icons/twitter.njk' %}</a>
        <a href="#">{% include 'icons/youtube.njk' %}</a>
      </div>
      <a href="#" class="color:white">resourcegovernance.org</a>
    </div>
  </div>
</footer>
<div class="by-line">
  <a href="https://ccm.design">by ccm.design</a>
</div>

{% for card in cards %}
{% include '_modal-window.njk' %}
{% endfor %}

