.card {
  min-height: 320px;
  --card-border: 0;
  background-color: var(--active-color);
  z-index: 1;
}

.card .button {
  align-self: flex-start;
  color: var(--accent-color);
  font-size: 120%;
}

.change-cards {    
	margin-top: calc(var(--s4) * -1);
}
