.card {
	min-height: 320px;
	--card-border: 0;
	background-color: var(--active-color);
	z-index: 1;
}

.card .button {
	align-self: flex-start;
	color: var(--accent-color);
	font-size: 80%;
	box-shadow: none;
}

.card .button:focus {
	background-color: hsla(var(--button-hsl),.05);
}

.change-cards {    
	margin-top: calc(var(--s4) * -1);
}


@media(max-width: 768px) {
	.card {
		--card-padding: var(--s2) var(--s1);
	}
}
