.card {
	min-height: 320px;
	--card-border: 0;
	background-color: var(--active-color);
	z-index: 1;
	flex: 0 1 48%;
	/*margin: 0 auto var(--s2);*/
	margin-bottom: var(--s2);
	justify-content: space-between;

	@media(max-width: 768px) {
		flex: unset;
	}
}

.card:last-child {
	margin: 0 auto;
}

.card .button {
	align-self: flex-start;
	color: var(--accent-color);
	font-size: 80%;
	box-shadow: none;
}

.card .button:focus {
	background-color: hsla(var(--button-hsl),.05);
}

.change-cards {    
	margin-top: calc(var(--s4) * -1);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


@media(max-width: 768px) {
	.card {
		--card-padding: var(--s2) var(--s1);
	}
}
