.hero-section {
  justify-content: space-between;

  @media (max-width: 500px) { 
    padding-bottom: var(--s4);

    .hero-section__download-btn {
      position: absolute;
      bottom: var(--s1);
      right: var(--s0);
      left: var(--s0);
    }
  }

  h1 {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 600;
    color: white;
  }

  h3.brow {
    font-size: 1rem;
    font-weight: 700;
    color: var(--accent-color);
  }
}

.hero-section:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50.1%;
    background-image: linear-gradient(to right, var(--bg-color), transparent);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100% 150%;
    z-index: -1;

  @media (max-width: 850px) {
    display: none;
  }
}

.hero-section:before {
    content: "";
    background-image: url('/images/hero-image.jpg');
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    flex-direction: row;
    z-index: -2;

  @media (max-width: 850px) {
    width: 100%;
    opacity: .4;
  }
}

.hero-section__top-bar img { max-width: 8rem; }

.hero-section__top-bar > .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section__content {
  margin-top: var(--s4);
}


/* 
TODO:
Essas customizações vão contra as best practices.
Com certeza temos outras maneiras de implementar isso, 
sem manipular a essencia de como funcionam os "vendor_components"
*/
.hero-section__content > .center > * + * { margin-top: var(--s1); }
.hero-section__content .center > *:last-child { padding-top: var(--s2); }
.hero-section__content .center > section { max-width: calc(var(--s7) + var(--s5)); }
