.nrgi-impact-tag {
  align-items: center;
  margin-top: var(--s1);

  @media (min-width: 450px) { display: flex; }

  > :first-child { margin-right: var(--s0); }
  
  p {
    font-size: .8rem;
    font-style: italic;
    opacity: .7;
    font-weight: 300;
    letter-spacing: .4px;
  }

  a { color: hsla(var(--black-hsl), 1); }
}

.nrgi-impact-tag__tag {
  display: flex;

  span { 
    display: block; 
    padding: var(--s-2) var(--s-1) calc(var(--s-2) + 1px); /* Correção visual para o texto */
    background-color: var(--base-color);
    font-size: .8rem;
    line-height: 1;
    color: var(--white-color);
    font-weight: 600;
  }

  span:last-child { background-color: var(--accent-color); }

  @media (max-width: 450px) { margin-bottom: var(--s-1); }
}