.base-section,
.text-section {
  --padding: var(--s3);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.text-section {
  font-weight: 300;
  color: var(--base-color);
  padding-right: var(--s1);
  padding-left: var(--s1);
}

.shadow-section {
  box-shadow: 0 0 16px hsla(var(--black-hsl), .1);
  background-color: white;
}

.title-section--area-focus:before,
.title-section--where-we-work:before,
.title-section--why-nrgi:before,
.title-section--bring-change:before {
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    flex-direction: row;
    z-index: -2;

  @media (max-width: 850px) {
    width: 100%;
    opacity: .4;
  }
}

.title-section--area-focus:after,
.title-section--where-we-work:after,
.title-section--why-nrgi:after,
.title-section--bring-change:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50.1%;
    background-image: linear-gradient(to right, var(--bg-color), transparent);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 100% 150%;
    z-index: -1;

  @media (max-width: 850px) {
    display: none;
  }
}

.title-section--area-focus,
.title-section--where-we-work,
.title-section--bring-change,
.title-section--who-we-are { flex-direction: row; }

.title-section--where-we-work:before { background-image: url(/images/where-we-work.jpg); }
.title-section--bring-change:before { background-image: url('/images/bring-change.jpg'); }
.title-section--why-nrgi:before { background-image: url('/images/why-nrgi.png'); }
.title-section--area-focus:before {
  background-image: url(/images/area-of-focus.png);
 
  @media (max-width: 850px) {
    background-position: top center;
  }
}

.title-section--area-focus {
  .nrgi-impact-tag {
    margin-bottom: var(--s1);
  }

  p {
    margin-bottom: var(--s2);
  }
}

.title-section--who-we-are {
  background-size: cover;
  background-image: url('/images/nrgi-staff.png'); 
  min-height: 260px;
  align-items: center;
}

.title-section--why-nrgi { 
  min-height: 260px; 
  align-items: center;
}

.change-cards {
  .grid { 
    grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr)); 
    --base-gap: var(--s1);
    @media (min-width: 1000px) {  --base-gap: var(--s2); }
  }
}

.quote-section {
  blockquote {
    font-style: italic;
    font-size: 1.2rem;
    position: relative;
  }

  small { opacity: .6; }

  blockquote:before {
    @include material-icons;
    @media (min-width: 850px) {  position: absolute; }
    left: -5rem;
    top: -.6rem;
    content: 'format_quote';
    font-size: 4rem;
    color: var(--accent-color);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
