.subscribe-form {
  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    width: 100%; 
    flex-direction: column;
  }
  
  @media (min-width: 501px) { width: 400px }


  input[type="text"] { 
    background-color: rgba(255, 255, 255, .2); 
    flex: 1;
    
    &::-webkit-input-placeholder { color: white; }
    &:-moz-placeholder { color: white; }
    &::-moz-placeholder { color: white; }
    &:-ms-input-placeholder { color: white; }
  }

  input[type="submit"] {
    margin-top: var(--s-1);
    background-color: var(--accent-color); 
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    color: white;
    letter-spacing: .4px;
    border: none;
  }
}